<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id = "helloWorld" class = "com.tutorialspoint.HelloWorld">
   	<property name = "firstName" value = "John"/>
   	<property name = "lastName" value = "Cena"/>
      <property name = "message" value = "New World!"/>
   </bean>
   
   <bean id = "byeWorld" class = "com.tutorialspoint.HelloWorld">
   	<property name = "firstName" value = "John"/>
   	<property name = "lastName" value = "Cena"/>
      <property name = "message" value = "Lost World!"/>
   </bean>

	<bean id = "helloWorldInitDestroy" class = "com.tutorialspoint.HelloWorldInitDestroy" init-method = "init" 
      destroy-method = "destroy">
      <property name = "message" value = "Hello World!"/>
   </bean>


</beans>